@font-face {
    font-family: "Arial-Narrow";
    font-style: normal;
    font-weight: 400;
  
    /* Браузер сначала попробует найти шрифт локально */
    src: local("ArialNarrow"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/arialnarrow.ttf") format("ttf"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         /* url("/fonts/roboto.woff") format("woff"); */
  }
/* 
ширина высота толщина рамки, отступы (padding, margin)
стандартный закон content-box, но лучше модель вычета border-box
*/
.html{
    box-sizing: border-box;
}
/* 
*-все теги, inherit-как у родителя 
в каких-то случаях понадобится другая модель, поэтому для этих тегов inherit
*/
*, *::after, *::before{
    box-sizing: inherit;
    /* Вместо подключения обнуляющих стилей */
    margin: 0;
    padding: 0;
}
body{
    font-family: "Arial-Narrow", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
ul{
    /* Отключение пунктов в списка */
    list-style: none;
}
a {
    /* Отключение нижнего подчёркивания */
 
}
.wrapper {
}
.header {
    background-color: black;
}
.header-main{
    /* transparent = прозрачный */
    background-color: transparent;
}
.container {
    background-color:gray;
    /* 1200+padding*2=1220 */
    max-width: 1220px;
    margin: 0 auto;
    /* Резервирование пространства для адаптива */
    padding: 0 10px;

}
.header__inner {
    /* Делим на 2 столбика */
    display: flex;
    align-items:center;
    padding-top: 10px;
    justify-content: space-between;
    
}
.logo {
  
}
.logo__img {

}
.menu {
}
.menu__list {
    display:flex;

    /* Глянуть что за св-во о_0 */
    gap: 35px;
}
.menu__list-item {
}
.menu__list-link {
    color: white;
    text-decoration: none;
}
.main {
}
.footer {
}